@keyframes fall {
  0% {
    transform: translateY(-10vh) translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) translateX(10vw) rotate(360deg);
    opacity: 0;
  }
}

:host {
  background: center url("/background.jpg");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.leaf {
  position: absolute;
  top: -10vh;
  width: 30px;
  height: 30px;
  background-size: contain;
  animation: fall linear infinite;

  &.pic1 {
    background: url("/leaf1.png") no-repeat center;
  }

  &.pic2 {
    background: url("/leaf2.png") no-repeat center;
  }

  &.pic3 {
    background: url("/leaf3.png") no-repeat center;
  }

  &.pic4 {
    background: url("/leaf4.png") no-repeat center;
  }

  @for $i from 1 through 15 {
    &:nth-child(#{$i}) {
      left: random(100) + vw;
      animation-duration: #{random(5) + 3}s;
      animation-delay: #{random(5)}s;
    }
  }
}
